.idea
.vscode
*.pyc
*.npz
.DS_Store
*.egg-info
.pytest_cache/*
build/
dist/

tractseg/experiments/custom/*
tractseg/experiments/old/*
tractseg/experiments/old_1/*
tractseg/experiments/old_2/*
tractseg/experiments/old_3/*
tractseg/experiments/old_4/*
tractseg/experiments/old_5/*
tractseg/experiments/old_6/*
tractseg/experiments/old_7/*
tractseg/experiments/Miccai2018/*
tractseg/experiments/MIA2019/*
tractseg/experiments/DiceLoss/*
tractseg/experiments/T1Features/*
tractseg/experiments/EndingsSeg/*
tractseg/experiments/TractSeg/*
tractseg/experiments/Peaks/*
tractseg/experiments/Schizo/*
tractseg/experiments/UNet3D_and_TOMxyz/*
