.idea
*.pyc
*.npz
.DS_Store
*.egg-info
unet_weights_72b_ep389.npz

tractseg/config/custom/*
tractseg/config/old/*
tractseg/config/old_1/*
tractseg/config/old_2/*
tractseg/config/old_3/*
tractseg/config/miccai2018/*
tractseg/config/DiceLoss/*
tractseg/config/T1Features/*
tractseg/config/run_multiple.sh