.idea
*.pyc
*.npz
.DS_Store
*.egg-info
.pytest_cache/*

unet_weights_72b_ep389.npz

tractseg/config/custom/*
tractseg/config/old/*
tractseg/config/old_1/*
tractseg/config/old_2/*
tractseg/config/old_3/*
tractseg/config/Miccai2018/*
tractseg/config/DiceLoss/*
tractseg/config/T1Features/*
tractseg/config/EndingsSeg/*
tractseg/config/TractSeg/*
tractseg/config/Peaks/*
tractseg/config/run_multiple.sh
