language: python
python:
  - "2.7"
# command to install dependencies
before_install:
  - pip install https://github.com/MIC-DKFZ/batchgenerators/archive/tractseg_stable.zip
install:
  - pip install .
#  - pip install -r requirements.txt
# command to run tests
script:
  - pytest # or py.test for Python versions 3.5 and below